body{
	background-image:url(../Images/background1.jpg);
	background-size:cover;
}
h1{
	font-weight:bold;
	color:red;
	text-align:center;
}
label{
	color:red;
	font-size:20px;
}
input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  color:red;
  font-size:20px;
  font-weight:bold;
}
h3{
	color:red;
}
td{
	color:red;
	font-weight:bold;
}